In [1]:
#Question_1
ism =input("Enter your name:  ").title()
fam =input("Enter your last name:  ").title()
print(f"Your last name  {fam}\nYour name {ism} ")

Enter your name:  ahmed
Enter your last name:  diaa
Your last name  Diaa
Your name Ahmed

In [14]:
#Question_2
n =(input("Enter any intege:  "))
b = n+n
c = b+n
print(int(n)+int(b)+int(c))

Enter any intege:  5
615

In [3]:
#Question_3
son = int(input("Enter any nomber: "))

if son%2==0:
    print("This an even nomber")
else:  
    print("It is an odd nomber")

Enter any nomber: 5
It is an odd nomber

In [5]:
#Questiuon_4
for a in range(2000,3200):
    if a%7==0 and a%5!=0:
        print(a,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [7]:
#Question_5
import math

def factorial(n):
   
    
   factorial= 1
    
   for i in range(n):
            
       factorial*=i+1
        
        
       return factorial
                 
print(math.factorial(5))

120

In [9]:
#Question_6
amt =int(input("Enter Sale Amout: "))
if amt>0:
   if amt>=500:
       disc =amt*0.5
   elif amt>=200 or amt>500:
       disc =amt*0.3
   elif amt<200:
    disc =amt*0.1
   print("Discound :  ",disc)
   print("Net Pay  : ",amt-disc)

Enter Sale Amout: 400
Discound :   120.0
Net Pay  :  280.0

In [11]:
#Question_7
y = "hello team"
for i in range(len(y)):
    if i % 2 ==0:
        print(y[i],end=" ")

h l o t a